.about {
  padding: 120px 24px;
  background-color: #000;
}

.container {
  max-width: 1100px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 40px;
  align-items: center;
}

/* .image {
  width: 100%;
  border-radius: 24px;
  border: 1px solid #222;
} */

.image {
  width: 140px;
  height: 140px;
  object-fit: cover;

  border-radius: 50%;
  border: 1px solid #222;
}

.tag {
  color: #f87171;
  letter-spacing: 4px;
  margin-bottom: 16px;
  font-size: 14px;
}

.title {
  font-size: 42px;
  margin-bottom: 24px;
  line-height: 1.2;
}

.description {
  color: #b3b3b3;
  line-height: 1.8;
  margin-bottom: 32px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #d4d4d4;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 32px;
  }
}